h1{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 350;
  font-style: normal;
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 5px;
} 
img{
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.photo-1{
  order: 2;
}
.photo-2{
  order: 4;
}
.photo-3{
  order: 5;
}
.photo-4{
  order: 6;
  grid-column-start: 1;
  grid-column-end:3 
}
.photo-5{
  order: 3;
}
.photo-6{
  order: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
